menu "Firmware"

config FIRMWARE_USE_AMP
    bool "Enable Amplifier Support"
    depends on MAX9744_ESPIDF_ENABLED
    default false
    help
        Enable Amplifier Support via MAX9744

config FIRMWARE_USE_MDNS
    bool "Enable mDNS broadcasts"
    default false
    help
        Enable mDNS broadcasts for web service


config FIRMWARE_USE_AWS
    bool "Enable AWS"
    depends on AWS_IOT_SDK
    default false
    help
        Enable AWS support


config FIRMWARE_USE_HOMEKIT
    bool "Enable Homekit"
    depends on FIRMWARE_USE_TEMPERATURE_SI7021
    default false
    help
        Enable Homekit support

config FIRMWARE_FORCE_HOMEKIT_PIN_DEFAULT
    bool "Use default Homekit pin"
    depends on FIRMWARE_USE_HOMEKIT
    default true
    help
        Use default Homekit pin

config FIRMWARE_USE_OTA
    bool "Enable OTA updater"
    default true
    help
        Enable OTA updater

config FIRMWARE_OTA_MANIFEST_URL
    string "OTA update manifest URL"
    depends on FIRMWARE_USE_OTA
    default ""
    help
        OTA update manifest URL

config FIRMWARE_USE_WEB
    bool "Enable Web"
    default false
    help
        Enables Web interface

config FIRMWARE_TEMPERATURE_HTTP_ENDPOINT
    bool "Enable HTTP sensor server"
    default false
    help
        Enables temperature HTTP endpoint

config FIRMWARE_TEMPERATURE_HTTP_ENDPOINT_URL
    string "Temperature update endpoint URL"
    depends on FIRMWARE_TEMPERATURE_HTTP_ENDPOINT
    default ""
    help
        Temperature HTTP endpoint URL


config FIRMWARE_TEMPERATURE_UDP_ENDPOINT
    bool "Enable UDP sensor server"
    default true
    help
        Enables UDP temperature endpoint

config FIRMWARE_TEMPERATURE_UDP_IP
    string "Remote IP address of UDP sensor server"
    depends on FIRMWARE_TEMPERATURE_UDP_ENDPOINT
    default "192.168.40.10"
    help
        Remote IP address of UDP sensor server

config FIRMWARE_TEMPERATURE_UDP_PORT
    int "Remote port address of UDP sensor server"
    depends on FIRMWARE_TEMPERATURE_UDP_ENDPOINT
    default 8445
    help
        Remote port address of UDP sensor server

config FIRMWARE_WEB_MAX_CONNECTIONS
    int "Maximum simultaneous web connections"
    depends on FIRMWARE_USE_WEB
    default 5
    help
        Maximum simultaneous web connections

config FIRMWARE_WEB_PORT
    int "Listen port for web interface"
    depends on FIRMWARE_USE_WEB
    default 80
    help
        Listen port for web interface

config FIRMWARE_USE_WEB_WEBSOCKET
    bool "Enable Websockets in web interface"
    depends on FIRMWARE_USE_WEB
    default false
    help
        Enable Websockets in web interface

choice
    prompt "Enable Temperature Sensor"
    default FIRMWARE_USE_TEMPERATURE_OFF
    
    config FIRMWARE_USE_TEMPERATURE_OFF
        bool "None"
    help
        Disable temperature sensor support

    config FIRMWARE_USE_TEMPERATURE_DHT11
        bool "dht11"
    help
        Use DHT11 sensor

    config FIRMWARE_USE_TEMPERATURE_SI7021
        bool "si7021"
    help
        Use si7021 sensor
endchoice

config FIRMWARE_USE_CONSOLE
    bool "Enable console interface"
    default true
    help
        Enable console interface

config FIRMWARE_HARDCODE_WIFI
    bool "Hardcode wifi credentials"
    default true
    help
        Builds wifi credentials into firmware binary

config FIRMWARE_DEFAULT_VOLUME
    int "Default volume level"
    depends on FIRMWARE_USE_AMP
    default 27
    help
        Default volume level

config FIRMWARE_MINIMUM_VOLUME
    int "Minimum volume level"
    depends on FIRMWARE_USE_AMP
    default 0
    help
        Minimum volume level

config FIRMWARE_MAXIMUM_VOLUME
    int "Maximum volume level"
    depends on FIRMWARE_USE_AMP
    default 63
    help
        Maximum volume level


config FIRMWARE_ERROR_GPIO
    int "GPIO for error LED"
    default 16
    help
        GPIO for error LED

config FIRMWARE_READY_GPIO
    int "GPIO for ready LED"
    default 17
    help
        GPIO for ready LED

config FIRMWARE_IDENTIFY_GPIO
    int "GPIO for identify LED"
    default 18
    help
        GPIO for identify LED


config FIRMWARE_USE_UDP_LOGGING
    bool "Enable UDP logging"
    default true
    help
        Enables UDP logging

config FIRMWARE_UDP_LOGGING_IP
    string "Remote IP address of UDP logging server"
    depends on FIRMWARE_USE_UDP_LOGGING
    default "192.168.20.10"
    help
        Remote IP address of UDP logging server

config FIRMWARE_UDP_LOGGING_PORT
    int "Remote port of UDP logging server"
    depends on FIRMWARE_USE_UDP_LOGGING
    default 8444
    help
        Remote port of UDP logging server

endmenu
